/*
    Document   : style
    Created on : 2012.01.03., 21:43:43
    Author     : Jurányi Zsolt (JUZRAAI.ELTE)
    Description:
        Defines the design of PubSearch GUI.
*/

.root {
    display: block;
    -fx-background-color: #333344;
}

.bold-text {
    -fx-font-weight: bold;
}

.italic-text {
    -fx-font-style: italic;
}

.white-text {
    -fx-text-fill: white;
}

.tab {
    -fx-background-color: linear-gradient(to bottom, #484860, #333344);
    -fx-text-fill: white;
}

.tab-label {
    -fx-text-fill: white;
}

.tab:hover {
    -fx-background-color: linear-gradient(to bottom, #646486, #333344);
}

.tab:selected {
    -fx-background-color: linear-gradient(to bottom, #646486, #484860);
}

.tab-header-background {
    -fx-background-color: linear-gradient(to bottom, #000011, #333344);
}

.tab-content-area {
    -fx-background-color: #484860;
    -fx-text-fill: white;
}

.pubtabs .tab-header-background  {
    -fx-background-color: transparent;
}

.hyperlink, .hyperlink:visited {
    -fx-text-fill: #E0EEFF;
    -fx-underline: false;
    -fx-border-width: 0;
}

.hyperlink:hover {
    -fx-text-fill: #ACF;
    -fx-underline: true;
}

.text-area {
    -fx-font-family: monospace;
    -fx-font-size: 14px;
}